{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>PageStatus List</h1>
    <p class="count">
        Displaying {{ pageStatuses|length }} pageStatuses of {{ pageStatuses.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        {% if is_granted('ROLE_BLOG_ADMIN') %}
            <div class='btn-group'>
                <a href="{{ path('page_status_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            </div>
        {% endif %}
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
                <th>Public</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for pageStatus in pageStatuses %}
                <tr>
                    <td>
                        <a href="{{ path('page_status_show', { 'id': pageStatus.id }) }}">
                            {{ pageStatus.name }}
                        </a>
                    </td>
                    <td>{{ pageStatus.label }}</td>
                    <td>{{ pageStatus.description }}</td>
                    <td>{% if pageStatus.public %}Yes{% else %}No{% endif %}</td>
                    <td>{% if pageStatus.created %}{{ pageStatus.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if pageStatus.updated %}{{ pageStatus.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pageStatuses) }}
    </div>

{% endblock %}
