{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>PageCategory List</h1>
    <p class="count">
        Displaying {{ pageCategories|length }} pageCategories of {{ pageCategories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_BLOG_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('page_category_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            </div>
        </div>
    {% endif %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for pageCategory in pageCategories %}
                <tr>
                    <td>
                        <a href="{{ path('page_category_show', { 'id': pageCategory.id }) }}">
                            {{ pageCategory.label }}
                        </a>
                    </td>
                    <td>{{ pageCategory.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pageCategories) }}
    </div>

{% endblock %}
